// Resets, Clearfix, etc
// import reset and clearfix
@import "partials/reset";

// Variables
$dark: #222;
$light: #EEE;
$highlight: orange;
$padding: 20px;


// Media Query Ranges
$medium: "only screen and (min-width: 600px) and (max-width:899px)";
$large: "only screen and (min-width: 900px)";


// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark){
  font-size: $block_font_size;
  color: $block_font_color;
}


// Styles
body{
  background-color: $highlight;
  text-align: center;
  color: $light;

  @media #{$large} {

    background-color: #222;
  }

  /*@media #{$medium} {

    background-color: orange;
  }*/
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: $padding;
  font-size: 55px;
  color: black;

  @media #{$large} {

    color:orange;

  }

  @media #{$medium} {

    color: white;
  }
}

h2{

  font-size: 35px;

  @media #{$large}{

    background-color: orange;
    color: black;
  }

  @media #{$medium} {

    /*background-color: orange;*/
    color: orange;
  }
}

ul {

  @media #{$large} {

    max-width: 800px;
  }

  /*@media #{$medium} {

    max-width: 500px;
  }*/

}

.block_family{
  max-width:350px;
  margin:auto;
  /*background-color: pink;*/
  @media #{$large} {

    max-width: 800px;
  }

  @media #{$medium} {

    max-width: 500px;
  }
}

.block_family li{
  background-color: $dark;
  margin-bottom: $padding;
  padding: $padding;
  box-sizing: border-box;
  margin: 0.66%;


  @media #{$large} {

    background-color: orange;

    width: 32%;
    float: left;


  }

  @media #{$medium} {

    background-color: white;
    float: left;
    width: 49%;
    margin: 0.5%;
  }
}